:root {
    --dark: #000000;
    --light: #ffffff;
    --wh: 90px;
}

.mainly {
    background-color: var(--light);
}

.light {
    background-color: var(--light);
    border-style: solid;
    color: var(--dark);
    width: var(--wh);
    height: var(--wh);
}
.dark {
    background-color: var(--dark);
    width: var(--wh);
    height: var(--wh);
}
.inf {
    color: var(--dark);
    background-color: var(--light);
    border-color: var(--dark);
    border-style: solid;
    width: var(--wh);
    height: var(--wh);
    font-size: 48px;
}
#zerr {
    border-style: none;
}