:root {
    --dark: #000000;
    --light: #ffffff;
}

.mainly {
    background-color: var(--light);
}

.light {
    background-color: var(--light);
    border-style: solid;
    color: var(dark);
}
.dark {
    background-color: var(--dark);
}
.inf {
    color: var(--dark);
    background-color: var(--light);
    border-color: var(--dark);
    border-style: solid;
}
#zerr {
    border-style: none;
}