:root {
    --dark: #000000;
    --light: #ffffff;
}

.mainly {
    background-color: var(--light);
}

.light {
    background-color: var(--light);
}

.dark {
    background-color: var(--dark);
}

.inf {
    color: var(--dark);
    background-color: var(--light);
    border-radius: 2px;
    border-color: var(--dark);
}