:root{
    --bg: #fafad2;
    --border: #11579e;
}

html {
    font-family: palatino;
}

body {
    background-color: var(--bg);
}

header{
    display: block;
    align-items: center;
}

h1 {
    display: flex;
    justify-self: center;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    font-size: x-large;
    text-shadow: 2px;
    margin: 20px;
}

.bigBorder {
    border: 15px var(--border);
    padding: 50px;
    margin: 20px;
}